@charset "UTF-8";
/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf8ee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

iframe {
  width: 49vw;
  height: 50vh;
}

section {
  text-align: center;
  padding: 1em;
}

.title-text {
  font-family: "Cousine", monospace;
  text-align: center;
}

header {
  border-bottom: 3px solid gainsboro;
  font-family: "Cousine", monospace;
}
header nav {
  padding-right: 1.5rem;
}
header nav ul {
  margin-bottom: 0;
}
header nav .nav-button {
  border: 3px solid gainsboro;
  border-radius: 10px;
  color: #414143;
  text-decoration: none;
  padding: 1em;
}
header nav .nav-button:hover {
  background-color: #ffa42c;
  color: aliceblue;
}

footer {
  background-color: #ffa42c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top: 3px solid #414143;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  user-select: none;
}
footer p {
  margin-bottom: 0;
}
footer .footer-text {
  display: flex;
  align-items: center;
}
footer .footer-icons {
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}

main .title {
  margin-top: 2em;
}
main section .image {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url(../img/Logo.png);
  background-size: cover;
  background-position: center;
}
main section .main-text {
  display: inline-block;
}
main section .main-text .subtitle {
  font-family: "Cousine", monospace;
  padding: 0.5em 1em;
  color: #ffa42c;
}
main section .main-text .text {
  margin: 0 auto;
  padding: 0 1em;
  font-family: Tahoma, sans-serif;
  font-size: x-large;
}
main section .button {
  padding: 1em;
  border: solid 2px #414143;
  border-radius: 10px;
  font-size: medium;
  background-color: #fbf8ee;
  font-family: "Cousine", monospace;
  cursor: pointer;
}
main section .button:hover {
  background-color: #ffa42c;
  color: aliceblue;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
main section .button a {
  text-decoration: none;
  color: #414143;
}
main .index-section-2 {
  padding-top: 2em;
}

main .title {
  padding: 2em 3em 0;
}
main .gallery {
  padding: 2em 1em 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
main .gallery .gallery-card {
  padding: 1em;
  border: 1px solid #1cc6a5;
  border-radius: 10px;
  user-select: none;
}
main .gallery .gallery-card img {
  width: 100%;
  height: 50%;
}
main .gallery .gallery-card:hover {
  cursor: pointer;
}
main .change-page {
  text-align: center;
  padding-top: 1em;
}
main .change-page li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .change-page li a {
  text-decoration: none;
  color: darkslategrey;
}

.sucursales h3 {
  font-family: "Cousine", monospace;
  padding: 1em;
}
.sucursales p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .clientes .title {
  text-align: center;
  padding: 3em 3em;
}
main .card {
  border: 3px solid #ffa42c;
}
main .card-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main .card-title {
  font-family: "Cousine", monospace;
  font-weight: bold;
}

main .contacto .title {
  padding: 3em 3em 2em;
}
main .contacto-form {
  margin: 0 auto;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .contacto-form input {
  font-size: x-large;
}
main .contacto-form label {
  padding-right: 1em;
}
main .contacto-form .name {
  display: flex;
  justify-content: start;
  gap: 1.5em;
}
main .contacto-form .button {
  padding: 1em;
  border: solid 2px #414143;
  border-radius: 10px;
  font-size: medium;
  background-color: #fbf8ee;
  font-family: "Cousine", monospace;
  cursor: pointer;
}
main .contacto-form .button:hover {
  background-color: #ffa42c;
  color: aliceblue;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nosotros main {
  height: 80vh;
}
.nosotros main .title {
  text-align: center;
}
.nosotros main .section > iframe {
  width: 70vw;
}

@media screen and (max-width: 500px) {
  footer {
    flex-direction: column;
    padding: 1rem;
  }
  .footer-icons {
    gap: 2rem;
  }
}
@media screen and (min-width: 700px) {
  .index.text {
    width: 700px;
  }
}
/* Responsive vista tablet  */
@media screen and (max-width: 1200px) {
  .productos.gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-card {
    height: 50vh;
  }
  .gallery-card img {
    height: 70%;
  }
  .gallery-card p {
    font-size: large;
  }
}
/* Responsive vista móvil */
@media screen and (max-width: 992px) {
  iframe {
    width: 70vw;
  }
}
@media screen and (max-width: 768px) {
  .productos.gallery {
    grid-template-columns: 1fr;
  }
  iframe {
    width: 80vw;
  }
}

/*# sourceMappingURL=estilos.css.map */
