/* Estilos Globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf8ee;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -10;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -5;
}

header {
  border-bottom: 3px solid gainsboro;
  font-family: 'Cousine', monospace;
}

.logo {
  display: inline-block;
  height: 100px;
  width: 250px;
  text-align: center;
}

nav {
  display: inline-block;
  position: absolute;
  top: 2.5em;
  right: 3em;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

nav ul a {
  border: 3px solid gainsboro;
  border-radius: 10px;
  color: #414143;
  text-decoration: none;
  padding: 1em;
}

nav ul a:hover {
  background-color: #ffa42c;
  color: aliceblue;
}


.title-text {
  font-family: 'Cousine', monospace;
  text-align: center;
}


footer {
  background-color: #ffa42c;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #414143;
}

footer img {
  width: 30px;
  height: 30px;
}

footer p {
  display: inline-block;
  position: relative;
  bottom: 10px;
}

.footer-text {
  display: inline-block;
  height: 30px;
}

.footer-icons {
  display: inline-block;
}

.footer-end {
  display: inline-block;
}


/* Estilos de página index */

.index.title {
  /* padding: 4em 3em 0; */
  margin-top: 2em;
}

.index.image {
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url(../img/Logo.png);
  background-size: cover;
  background-position: center;
}

.index.main-text {
  display: inline-block;
}

.index.subtitle {
  font-family: 'Cousine', monospace;
  padding: 0.5em 1em;
  color: #ffa42c;
}

.index.text {
  margin: 0 auto;
  padding: 0 1em;
  width: 700px;
  font-family: Tahoma, sans-serif;
  font-size: x-large;
  font-weight: lighter;
}

.index.button {
  padding: 1em;
  border: solid 2px #414143;
  border-radius: 10px;
  font-size: medium;
  background-color: #fbf8ee;
  font-family: 'Cousine', monospace;
  cursor: pointer;
}

.index.button:hover {
  background-color: #ffa42c;
  color: aliceblue;
}

.index.button a {
  text-decoration: none;
  color: #414143
}

main>section:last-of-type {
  padding-top: 2em;
}



/* Estilos de página Productos */

.productos.title {
  text-align: center;
  padding: 2em 3em 0;
}

.productos.gallery {
  display: inline-block;
  width: 100%;
  padding: 2em 1em 0;
  text-align: center;
}

.gallery-card {
  text-align: center;
  display: inline-block;
  width: 24%;
  height: 350px;
  padding: 1em;
  border: 1px solid #1cc6a5;
  border-radius: 10px;
}

.gallery-card:hover {
  cursor: pointer;
}

.gallery-card img {
  width: 100%;
  height: 70%;
}

.productos.change-page {
  text-align: center;
  padding-top: 1em;
}

.productos li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 10px;
}

.productos a {
  text-decoration: none;
  color: darkslategrey
}



/* Estilos de página Sucursales */

.sucursales .title-text {
  font-size: x-large;
  padding: 2em 1em 1em;
}

.sucursales.maps {
  display: inline-block;
  height: 400px;
  width: 100%;
  text-align: center;
}

.map1,
.map2 {
  display: inline-block;
  width: 49%;
}

.map1 {
  border-right: 2px solid #414143;
}

.sucursales h3 {
  font-family: 'Cousine', monospace;
  padding: 1em;
}

.sucursales p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* Estilos de página Clientes */

.clientes.title {
  text-align: center;
  padding: 6em 3em 2em;
}

.comments-box {
  display: inline-block;
  width: 100%;
  height: 400px;
}

.comments-box>div {
  height: 50%;
  text-align: center;
}

.comment {
  display: inline-block;
  width: 30%;
  height: 200px;
  border: 3px solid #ffa42c;
  border-radius: 10px;
}

.comment .com {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
}

.comment .name {
  text-align: end;
  font-family: 'Cousine', monospace;
  font-weight: bold;
  padding: 1em;
}

.comment.number1 {
  width: 403px;
  height: 100px;
  position: relative;
  bottom: 30px;
  right: 50px;
}

.comment.number2 {
  width: 410px;
  height: 150px;
  position: relative;
  left: 10px;
}

.comment.number1 .com,
.comment.number2 .com {
  padding-top: 5px;
}

.comment.number3 {
  width: 403px;
  height: 120px;
  position: relative;
  right: 90px;
  padding-top: 5px;
}

.comment.number4 {
  width: 335px;
  height: 100px;
}

.number4>.com {
  margin: 1em;
}


/* Estilos de página Contacto */

.contacto.title {
  text-align: center;
  padding: 6em 3em 2em;
}

main>form {
  margin: 0 auto;
}

form {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-align: start;
}

input {
  font-size: x-large;
}

label {
  padding-right: 1em;
}

.submit,
.reset {
  position: relative;
  padding: 1em;
  border: solid 2px #414143;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  background-color: #fbf8ee;
  cursor: pointer;
}

.submit {
  bottom: 80px;
  left: 20px;
}

.reset {
  bottom: 70px;
  left: 570px;
}

.submit:hover,
.reset:hover {
  background-color: #ffa42c;
  color: aliceblue;
}

.message>textarea {
  position: relative;
  top: 10px;
  font-size: larger;
}

.name-input {
  position: relative;
  left: 30px;
}

.email-input {
  width: 342px;
  position: relative;
  left: 175px;
}


/* Estilos de página Nosotros */

.nosotros.title {
  text-align: center;
  padding: 2em 3em;
}

section {
  text-align: center;
  padding: 1em;
}
