main {
  .clientes.title {
    text-align: center;
    padding: 3em 3em;
  }

  .tarjeta {
    border: 3px solid $color-primario;
  }

  .card-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .card-title {
    font-family: $fuente-principal;
    font-weight: bold;
  }
}