main {
  .contacto.title {
    padding: 3em 3em 2em;
  }

  .contacto-form {
    margin: 0 auto;
    width: 50vw;
    font-family: $fuente-secundaria;
    font-size: x-large;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1em;

    input {
      font-size: x-large;
    }

    label {
      padding-right: 1em;
    }

    .name {
      display: flex;
      justify-content: start;
      gap: 1.5em;
    }

    .button {
      padding: 1em;
      border: solid 2px #414143;
      border-radius: 10px;
      font-size: medium;
      background-color: #fbf8ee;
      font-family: $fuente-principal;
      cursor: pointer;

      &:hover {
        background-color: $color-primario;
        color: aliceblue;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
      }
    }
  }
}