main {
  .marcas.title {
    text-align: center;
    margin-bottom: 2em;
  }

  .container-exterior {
    width: 80%;

    .marcas.section {
      height: 500px;

      .container-carrusel {
        display: flex;

        button {
          .control {
            background-color: black;
            height: 15%;
          }
        }

        .carousel-control-next,
        .carousel-control-prev {
          position: static;
        }

        .slide {
          pointer-events: none;

          .card {
            justify-content: center;
            align-items: center;

            .card-img-top {
              width: 90%;
              height: 90%;
            }
          }
        }
      }
    }
  }
}