@media screen and (max-width:500px) {
  footer {
    flex-direction: column;
    padding: 1rem;
  }

  .footer-icons {
    gap: 2rem;
  }
}

@media screen and (min-width:700px) {
  .index.text {
    width: 700px;
  }
}


/* Responsive vista tablet  */
@media screen and (max-width:1200px) {
  .productos.gallery {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .gallery-card {
    height: 50vh;
  }

  .gallery-card img {
    height: 70%;
  }

  .gallery-card p {
    font-size: large;
  }

  main {
    .contacto-form {
      width: 80vw;
    }
  }
}

/* Responsive vista móvil */

@media screen and (max-width: 992px) {
  iframe {
    width: 70vw;
  }
}

@media screen and (max-width:900px) {
  .productos.gallery {
    grid-template-columns: 1fr;
  }

  iframe {
    width: 80vw;
  }
}

@media screen and (max-width:400px) {
  .tarjeta-producto {
    display: flex;
    align-items: center;

    img {
      max-width: 90%;
    }

    .card-body {
      max-width: 90%;
    }
  }
}

@media screen and (min-width: 1040px) {
  main {
    .index-section-2 {
      padding: 6em 0 4em;
    }
  }
}


@media screen and (max-width:1000px) {
  main {
    .container-exterior {
      .marcas.section {
        .container-carrusel {
          .slide {
            .grilla {
              grid-template-areas: "card1 card3"
                "card4 card6";
              
              .card2, .card5 {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:700px) {
  main {
    .container-exterior {
      .marcas.section {
        .container-carrusel {
          .slide {
            .grilla {
              grid-template-areas: "card1"
                "card3"
                "card6";
              
              .card2, .card4, .card5 {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}