$fuente-principal: 'Cousine', monospace;
$fuente-secundaria: Verdana, Geneva, Tahoma, sans-serif;
$color-primario: #ffa42c;

@import "estilos-generales";
@import "index";
@import "productos";
@import "sucursales";
@import "clientes";
@import "contacto";
@import "nosotros";
@import "responsive";